.icon1{
    width: 60px;
    height: 50px;
    background-color: white;

    margin-right: 20px;
    margin-left: 15px;
}
.icon2{
    width: 100px;
    background-color: white;
    height: 50px;
    
    margin-right: 520px;
}
.icon3{
    width: 400px;
    background-color: white;
    height: 50px;
    display: flex;
    padding-top: 0px;
    margin-right: 5px;
}
.icon4{
    width: 37px;

    border-radius: 50%;
    background-color: rgba(207, 206, 206, 0.154);
    height: 37px;
    
    margin-right: 500px;
    margin-top: 8px;
}
.icon5{
    width: 45px;
    background-color: white;
    height: 50px;
    
    margin-right: 5px;
}
.icon6{
    width: 45px;
    background-color: white;
    height: 50px;
    
    margin-right: 5px;
}
.icon7{
    width: 45px;
    background-color: white;
    height: 50px;
    
    margin-right: 5px;
}
.icon8{
    width: 45px;
    background-color: white;
    height: 50px;
}

.hamburger-menu{
    width: 25px;
    margin-left: 17px;
    margin-top: 12px;

    cursor: pointer;
}
.youtube-logo{
    margin-top: 13px;

    cursor: pointer;
}
.search-bar{
    width: 85%;
    height: 35px;

    border-radius: 3px 0 0 3px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.427);

    margin-top: 7px;
    padding-left: 10px;
    font-size: 15px;
}
.search-button{
    width: 15%;
    height: 39px;
    
    border-radius:0 3px 3px 0;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.427);
    margin-top: 7px;

    cursor: pointer;
}
.search-logo{
    width: 23px;
    margin-top: 2.5px;
}
.voice-search-icon{
    width: 24px;
    
    margin-left: 6.5px;
    margin-top: 9px;

    cursor: pointer;
}
.upload-logo{
    width: 24px;
    
    margin-top: 14px;
    margin-left: 11px;

    cursor: pointer;
}
.youtube-apps{
    width: 25px;

    margin-top: 13px;
    margin-left: 9px;

    cursor: pointer;
}
.notifications{
    width: 26px;
    height: 24px;

    margin-top: 14px;
    margin-left: 9px;

    cursor: pointer;
}
.profil-frame{
    width: 36px;
    height: 36px;

    background-color: white;

    border-radius: 50%;
    margin-top: 8px;
    margin-left:2px;

    cursor: pointer;
}
.profil-photo{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}


.side-icon1{
    background-color: white;
    width:100%;
    height: 80px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 

    cursor: pointer;
    border: none;
}
.side-icon1:hover{
    background-color: rgba(211, 208, 208, 0.377);
}
.side-icon2{
    background-color: white;
    width:100%;
    height: 80px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 

    cursor: pointer;
    border: none;
}
.side-icon2:hover{
    background-color: rgba(211, 208, 208, 0.377);
}
.side-icon3{
    background-color: white;
    width:100%;
    height: 80px;

    cursor: pointer;
    border: none;
}
.side-icon3:hover{
    background-color: rgba(211, 208, 208, 0.377);
}
.side-icon4{
    background-color: white;
    width:100%;
    height: 80px;

    cursor: pointer;
    border: none;
}
.side-icon4:hover{
    background-color: rgba(211, 208, 208, 0.377);
}
.side-icon5{
    background-color: white;
    width:100%;
    height: 80px;

    cursor: pointer;
    border: none;
}
.side-icon5:hover{
    background-color: rgba(211, 208, 208, 0.377);
}
.side-icon6{
    background-color: white;
    width:100%;
    height: 80px;

    cursor: pointer;
    border: none;
}
.side-icon6:hover{
    background-color: rgba(211, 208, 208, 0.377);
}

.home-logo{
    width: 25px;
    position: absolute;
    top: 8.5%;
    left: 2%;
    object-fit: cover;
}
.home-text{
    position: absolute;
    top: 10.5%;
    left: 1.99%;

}
.explore-logo{
    position: absolute;
    top: 17.5%;
    left: 2%;
    width: 25px;
}
.explore-text{
    position: absolute;
    top: 19.5%;
    left: 1.8%;
}
.subscriptions-logo{
    position: absolute;
    top: 26%;
    left: 2%;

    width: 25px;
}
.subscriptions-text{
    position: absolute;
    top: 28%;
    left: 1.1%;

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.originals-logo{
    position: absolute;
    top: 34.8%;
    left: 2%;
    
    width: 25px;
}
.originals-text{
    position: absolute;
    top: 36.6%;
    left: 1.6%;

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.youtube-music{
    position: absolute;
    top: 43.5%;
    left: 2%;

    width: 25px;
}
.youtube-music-text{
    position: absolute;
    top: 45.8%;
    left: 0.9%;

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.library-logo{
    position: absolute;
    top: 52.3%;
    left: 1.9%;

    width: 25px;
}
.library-text{
    position: absolute;
    top: 54.3%;
    left: 1.8%;

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
