.thumbnail1{
    background-color: gray;
    width: 28%;
    height:320px;

    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.thumbnail2{
    background-color: gray;
    width: 28%;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.thumbnail3{
    background-color: gray;
    width: 28%;
    height:320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.thumbnail4{
    background-color: gray;
    width: 28%;
    height: 320px;
    
    margin-bottom: 10px;
    margin-top: 10px;
}
.thumbnail5{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail6{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail7{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail8{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-bottom: 10px;
}
.thumbnail9{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail10{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail11{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-right: 15px;
    margin-bottom: 10px;
}
.thumbnail12{
    background-color: gray;
    width: 436.5px;
    height: 320px;
    
    margin-bottom: 10px;
}
.thumbnail-1{
    width: 100%;
}
