.row1{
    padding-bottom: 0px;
    padding-top: 25px;
}

.sector1-1{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-1{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-1{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 2.5%;
}
.sector4-1{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 4%;
    left: 12%;
}
.sector5-1{
    width: 40%;
    height: 6%;

    background-color: retransparentd;

    display: inline-block;

    position: relative;

    top: 9%;
    right: 29%;
}
.title-link{
    text-decoration: none;
    color: black;

    font-size: 14px;
}
.profile-name-link{
    text-decoration: none;
    color: gray;
}


.sector1-2{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-2{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-2{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 2%;
    right: 1%;
}
.sector4-2{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    left: 11%;
    bottom: 3%;
}
.sector5-2{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 2%;
    right: 30%;
}



.sector1-3{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-3{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-3{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    bottom: 2%;
}
.sector4-3{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 3%;
    left: 12%;
}
.sector5-3{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 2%;
    right: 29%;
}
.sector1-4{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-4{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-4{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 2%;
}
.sector4-4{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 4%;
    left: 12%;
}
.sector5-4{
    width: 45%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 9%;
    right: 29%;
}
.sector1-5{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-5{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-5{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 2%;
}
.sector4-5{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3.5%;
    left: 11.8%;
}
.sector5-5{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 8%;
    right: 29%;
}
.sector1-6{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-6{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-6{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 3%;
}
.sector4-6{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 4%;
    left: 12%;
}
.sector5-6{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1%;
    right: 29%;
}
.sector1-7{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-7{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-7{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 3%;
}
.sector4-7{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 4%;
    left: 12%;
}
.sector5-7{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1%;
    right: 28.8%;
}
.sector1-8{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-8{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-8{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 2.5%;
}
.sector4-8{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom:4%;
    left: 12%;
}
.sector5-8{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1%;
    right: 28.8%;
}
.sector1-9{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-9{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-9{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 3%;
}
.sector4-9{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    bottom: 4%;
    left: 12%;
}
.sector5-9{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1%;
    right: 28.8%;
}
.sector1-10{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-10{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-10{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 2.3%;
}
.sector4-10{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3.5%;
    left: 11.8%;
}
.sector5-10{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 8%;
    right: 29%;
}
.sector1-11{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-11{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-11{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1.8%;
}
.sector4-11{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
    left: 11.8%;
}
.sector5-11{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 7.5%;
    right: 29%;
}
.sector1-12{
    width: 100%;
    height: 68%;
    
    background-color: blue;
}
.sector2-12{
    width: 11%;
    height: 13%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3%;
}
.sector3-12{
    width: 77%;
    height: 10%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 1.8%;
}
.sector4-12{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;
    top: 3.5%;
    left: 11.8%;
}
.sector5-12{
    width: 40%;
    height: 6%;

    background-color: transparent;

    display: inline-block;

    position: relative;

    top: 8%;
    right: 29%;
}
.thumbnail-1,.thumbnail-2,
.thumbnail-3,.thumbnail-4,
.thumbnail-5,.thumbnail-6,
.thumbnail-7,.thumbnail-8,
.thumbnail-9,.thumbnail-10,
.thumbnail-11,.thumbnail-12{
    width: 100%;
}
.main-profil-photo{
    width: 35px;
    border-radius: 50%;
}
h4{
    margin-top: 0;
}
.profile-name{
    margin-top: 0;
}
.video-stats{
    margin-top: 0;
}


.thumbnail1{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-left: 10px;
    margin-right: 15px;
}
.thumbnail2{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail3{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail4{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 10px;
}

.thumbnail5{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-left: 10px;
    margin-right: 15px;
}
.thumbnail6{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail7{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail8{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 10px;
}

.thumbnail9{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-left: 10px;
    margin-right: 15px;
}
.thumbnail10{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail11{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 15px;
}
.thumbnail12{
    background-color: transparent;
    width: 100%;
    height:350px;

    margin-right: 10px;
}